<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>dataBank</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" />
      <link rel="stylesheet" href="/stylesheets/global.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li class="<%= typeof page !== 'undefined' && page === '' ? 'active' : '' %>"><a href="/">HOMEPAGE</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">LOGIN</a></li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">REGISTER</a></li>
                <% } else { %>
                    <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container notifiche">
        <% if(error && error.length > 0) { %>
        <div class="alert alert-danger"><p><%=error %></p></div>
        <% } %>
        
        <% if(success && success.length > 0) { %>
        <div class="alert alert-success"><p><%= success %></p></div>
        <% } %>
    </div>
    
    <div class="container">
